@font-face {
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
  background-size: 100% auto;
  padding: 0px 40px 0px 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.shadow_page {
  background-color: #d9d1d1; /**временно задал цвет, чтобы было видно белый текст**/
  background-size: 100% auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.page_header {
  color: #000000;
}

.navigation_link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.icon_button.navigation_link {
  color: #ffffff;
  background-color: bisque; /*****времееная обводка цветом*****/
  text-decoration: none;
  text-transform: uppercase;
}

.welcome_to_sedona {
  background-image: url("../image/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 485px;
  background-color: #ffffff;
  color: #000000;
}

.description_item_head {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.description_item.color_iversion {
  color: #ffffff;
  background-color: #83b3d3;
}

/********************** Блок с поиском гостницы *********************/
.finde_hostle_title {
  font: size 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.finde_hostle_text {
  font-size: 22px;
  line-height: 26px;
}

/********************** Блок с рассылкой на почту *********************/
.distribution {
  background-image: url("../image/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 411px;
}

.distribution_title {
  font: size 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.distribution_text {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

/**********************Кнопка Подписаться в низу страницы*********************/
.distribution_form_input {
  width: 600px;
  height: 60px;
  background: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: -5px;
  border: none;
}
.distribution_form_buttons {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83b3d3;
  width: 200px;
  height: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
/**********************Номер телефона*********************/
.phone_number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

/**********************Каталог, вторая страница*********************/
.catalog_hotel {
  background-image: url("../image/catalog-background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 408px;
  color: #ffffff;
  padding-bottom: 86px;
  margin-bottom: 100px;
}

/**********************Гостиницы Седоны h1*********************/
.inner_header_title {
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
}

.breadcrumbs_item {
  font-size: 16px;
  line-height: 21px;
}
.catalog_title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}
.calatlig_filter_item {
  font-size: 18px;
  line-height: 23px;
}

/**********************Звёзды у гостиниц*********************/
.star_list .star {
  display: inline;
}

/**********************Значок дома (ссылка на главную страницу)*********************/
.home_page {
  text-decoration: none;
}

/**********************Кнопка применить форму*********************/
.button_apply_form {
  background: #83b3d3;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
}

/**********************Кнопка сбросить форму*********************/
.button_reset_form {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  background: transparent;
  border: none;
}
/**********************Названия гостиниц*********************/
.hotel_card_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}
.span_hotel .hotel_card_price {
  font-size: 18px;
  line-height: 23px;
}

.checkbox .radio .range {
  font-size: 18px;
  line-height: 23px;
}

/**********************Кнопка подробнее*********************/
.hotel_card_button_detail.button {
  background: #756257;
  border-radius: 4px;
  padding: 9px 15px 10px 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

/**********************Кнопка в избранное*********************/
.hotel_card_button_select.button {
  background: #83b3d3;
  border-radius: 4px;
  padding: 9px 15px 10px 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

/**********************Страницы с гостиницами*********************/
.pagination_item {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
}

/**********************Рейтинг госиниц*********************/
.star_score {
  font-size: 16px;
  line-height: 21px;
  background: #f2f2f2;
}

/**********************Переключение страниц 1,2,3,4 ...*********************/
.pagination_link.pagination_current {
  background: #f2f2f2;
  color: #000000;
}
.pagination_link {
  background: #83b3d3;
  color: #ffffff;
}

/**********************Кнопка загрузить еще*********************/
.pagination_show_more {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
}

/**********************НАЧАЛО Блок с рассылкой на почту второй страницы *********************/
.distribution_inner {
  background-color: #ffffff;
}
.distribution_title_inner {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.distribution_text_inner {
  font-size: 22px;
  line-height: 26px;
}
/**********************КОНЕЦ Блок с рассылкой на почту второй страницы *********************/
