@font-face{
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face{
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html{
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
  width: 1200px;
  padding: 0 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

}
.visually_hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul.description_list{
  margin-left: 0;
  padding-left: 0
}
ul.hotel_card_list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 53px;
}
ul.catalog_filter_list{
  list-style-type: none;
}
ul.pagination{
  list-style-type: none;
  margin: 0;
}
ul.socials_footer{
  list-style-type: none;
}
ul.description_list{
  list-style-type: none;
}
.shadow_page{
  background-color: #ffffff;
  background-size: 100% auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page_header{
  z-index: 2;
  position: relative;
}
.main_container{
  flex-grow: 1;
  width: 1200px;
  margin: 0;
}

.navigation{
 display: flex;
 width: 1060px;
 margin: 0 70px;
}

/**********************Навигация хеддера*********************/
.navigtion_list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type:none;
  align-items: center;
}
.navigation_main a{
	position: relative;
  margin-right: 34px;
  left: 188px;
}
.navigation_main.navigation_link:last-child{
  margin-right:0;
}
.navigation_main a:after{
  content: "";
  background-color: #756257;
	display: block;
	position: absolute;
	height: 2px;
  top: 65px;
}
.navigation_main a:hover:after,
.navigation_main a:focus:after{
	width: 100%;
}
/**********************Навигация ЛОГО*********************/
.navigation_header_logo{
  position: absolute
}
/**********************Навигация первого списка хеддар*********************/
.navigation_main{
  width: 450px;
}
/**********************Навигация втрого списка хеддар*********************/
.navigation_user{
  margin-left: auto;
}
.navigation_icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 0 10px;
}

.icon_favorite{
  margin-right: 25px;
}
.navigation_icon:hover{
  fill:#7db54f;
}
.navigation_link:focus.navigation_icon{
  fill: #83b3d3;
}
.favorite_number{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 20px;
  height: 20px;
  left: 24px;
  top: 14px;
  background-color: #7db54f;
  border-radius: 10px;
  position: absolute;
  font-size: 10px;
  font-style: normal;
  line-height: 13px;
}
/**********************Заголовок страницы*********************/
.navigation_link{
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 18px;
  min-height: 18px;
}
.navigation_link:hover,
.navigation_link:focus{
  color: #7DB54F;
}

/**********************Кнопка "Хочу сюда" в хеддере*********************/
.icon_button{
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  width: 130px;
  display: flex;
  justify-content: center;
}
.icon_button:hover,
.icon_button:focus{
  background-color: #543e30;
  color: #7db54f;
}
/**********************Бекграунд на Лого главного экрана*********************/
.welcome_to_sedona_background{
  background-image: url("../images/decorative-background.svg"), url("../images/index-background.jpg");
  background-position: 0% 100%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  width: 1200px;
}

.logo_sedona{
  padding-top: 51px;
  padding-bottom: 82px;
}
.welcome_to_sedona_text{
  width: 1200px;
}
.sedona_description{
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  width: 720px;
  margin: auto;
}
.sedona_description_text{
  padding-bottom: 63px;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
  width: 720px;
  margin: auto;
}
.description_list{
  display: flex;
  flex-wrap: wrap;
}
/**********************Выбор гостиниц*********************/
.description_item_head{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 24px 0 20px;
}

.description_head_second{

  margin: 0;
  margin-top: 98px;
}
.number{
  margin: 0;
  margin-top: 29px;
  margin-bottom: 30px;
}
.description_item:nth-child(7){
  background: rgba(131, 179, 211, 0.2);
}

.description_item_text{
  margin: 0;
  width: 250px;
  margin-left: 75px;
  margin-right: 75px;
}
p.description_item_text_second{
  /* display: inline-block; */
  margin:0 75px 105px;
}

.description_item_first{
  margin-bottom: 85px;
}
.color_iversion{
  color: #ffffff;
  background-color: #83b3d3;
  display: flex;
  width: 1200px;

}
.color_iversion_head{
  color: #ffffff;
  margin-top: 98px;
  margin-bottom: 30px;
}
.color_iversion_item_text_number{
  margin-bottom: 30px;
}
.color_iversion_item_text{
  display: inline-block;
  margin-bottom: 87px;
  width: 220px;
}
/**********************Блок с поиском гостницы*********************/
.finde_hostle_title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 91px;
  margin-bottom: 29px;
}
.finde_hostle_text{
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 56px;
  font-family: "PT Sans", sans-serif;
}
.button_finde_hostle{
  margin-bottom: 92px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  background: #756257;
  width: 575px;
  border: none;
  border-radius: 10px;
  padding: 15px 0;
  cursor: pointer;
  text-align: center;
}
.button_finde_hostle:hover{
  background-color: #543e30;
  color: #7db54f;
}
.button_finde_hostle:focus{
  background-color: #543e30;
  color: #7db54f;
}
.description_item_list:nth-child(even),
.description_item:nth-child(even){
  background-color: rgba(131, 179, 211, 0.12);
}

/**********************Декоративные иконки в блоке основной информации.*********************/
.description_head_first{
  margin: 0;
  margin-bottom: 20px;
}
.description_item_home::before{
  background-image: url("../images/icon-1.svg");
  background-repeat: no-repeat;
  position: relative;
  width:74px;
  height:72px;
  display: block;
  margin-bottom: 23px;
  margin-right: auto;
  margin-left: auto;
  content: "";
  margin-top: 89px;
}
.description_item_eat::before{
  background-image: url("../images/icon-2.svg");
  background-repeat: no-repeat;
  position: relative;
  width: 74px;
  height: 74px;
  display: block;
  margin-bottom: 23px;
  margin-right: auto;
  margin-left: auto;
  content: "";
  margin-top: 91px;
}
.description_item_souvenir::before{
  background-image: url("../images/icon-3.svg");
  background-repeat: no-repeat;
  position: relative;
  width: 64px;
  height: 77px;
  display: block;
  margin-bottom: 23px;
  margin-right: auto;
  margin-left: auto;
  content: "";
  margin-top: 85px;
}

/********************** Блок с рассылкой на почту *********************/
.distribution{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 411px;
  box-sizing: border-box;
}
.distribution_title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 240px 29px;
  padding-top: 94px;
}
.distribution_text{
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 46px;
}

/**********************Кнопка Подписаться внизу страницы*********************/
.distribution_form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 141px;
}
.distribution_form_input{
  background: #f2f2f2;
  margin: 0;
  width: 577px;
  height: 60px;
  border: none;
  font-size: 18px;
  line-height: 26px;
  text-align: start;
  padding-left: 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.distribution_form_input:hover,
.distribution_form_input:focus{
  background-color: #e2e2e2d8;
}
.distribution_form_buttons{
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 200px;
  height: 62px;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
}
.distribution_form_buttons:hover,
.distribution_form_buttons:focus{
  background-color: #9fd4f8;
}
/**********************Footer*********************/
.page_footer{
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}
.socials_footer{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 72px;
}
.socials_footer_icon:last-child{
  padding: 0;
  margin-right: 0;
}
.socials_footer_icon{
  margin-right: 30px;
  width: 20px;
  height: 20px;
}
.socials_footer_link{
  display: block;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
}
.facebook_button{
  background-image: url("../images/socials-icon/icon-facebook.svg");
}
.youtube_button{
  background-image:  url("../images/socials-icon/icon-youtube.svg");
}
.twitter_button{
  background-image:  url("../images/socials-icon/icon-twitter.svg");
}
.footer_logo{
  margin: 42px 72px 44px 0;
}
.footer_logo:hover,
.footer_logo:focus{
  fill: #a19f9f;
}
/**********************Номер телефона*********************/
.phone_number{
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}
.phone_number:hover,
.phone_number:focus{
  color: #857d7d;
}

/**********************Каталог, вторая страница*********************/
.catalog_hotel{
  background-image: url("../images/catalog-background-1.jpg");
  background-repeat: no-repeat;
  height: 408px;
  color: #ffffff;
}

/**********************Гостиницы Седоны h1*********************/
.inner_header_title{
  font-size: 60px;
  line-height: 78px;
  width: 530px;
  margin: 0;
  padding-top: 35px;
  margin-left: 71px;
  text-align: left;
}

/**********************Значок дома (ссылка на главную страницу)*********************/
a.home_page{
  background-image: url("../images/home-1.svg");
  width: 7px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 22px;
  padding-bottom: 4px;
}
a.home_page::after{
  content:"";
  display: inline-block;
  padding: 0 7px 10px 0;
  width: 6px;
  height: 7px;
  background-image: url("../images/nav-link-1.svg");
  background-repeat: no-repeat;
  background-position: 1px 6px;
}
.breadcrumbs_item{
  display: flex;
  font-size: 16px;
  line-height: 21px;
  margin-left: 73px;
  position: relative;
  top: -5px;
}
.breadcrumbs_item_hotel{
  padding-left: 9px;
}

/**********************Форма поиска по каталогу*********************/
 .catalog_find{
  text-align: start;
  display: flex;
  margin: 39px 73px 0 66px;
}
.infrastructure_form{
  width: 170px;
  margin-right: 45px;
}
.type_of_housing_form{
  width: 145px;
}
.cost_form{
  display: flex;
  flex-direction: column;
  margin-left: 167px;
  margin-right: 79px;
}
.infrastructure_list{
  padding: 0;
}
.type_of_housing_list{
  padding: 0;
}
.catalog_title{
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 11px;
}
.calatlig_filter_item{
  font-size: 18px;
  text-align: start;
}

/**********************Окно выбра чекбоксов*********************/
.checkbox_form{
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
.checkbox, .radio{
  position: relative;
  display: block;
  padding-left: 42px;
  margin-bottom: 16px;
}
.control_mark{
  position: absolute;
  top: 2px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}
.control:hover .control_mark{
  background-color: #e2e2e2d8;
}
.control_input:disabled + .control_mark{
  background-color: #FFFFFF;
}
.control_input[type="checkbox"]:checked + .control_mark::after{
  position: absolute;
  top: 8px;
  left: 6.8px;
  width: 12px;
  height: 2px;
  background-color: #395467;
  content: "";
}
.control_input[type="checkbox"]:checked + .control_mark::before{
  position: absolute;
  top: 10px;
  left: 3.9px;
  width: 7px;
  height: 2px;
  background-color: #395467;
  content: "";
}
.control_input[type="checkbox"]:checked + .control_mark::before{
  transform: rotate(40deg);
}

.control_input[type="checkbox"]:checked + .control_mark::after{
  transform: rotate(131deg);
}
/**********************Окно выбра радокнопок*********************/
.radio_form{
  width: 20px;
  height: 20px;
}
.control_input[type="radio"] + .control_mark{
  border-radius: 50%;
}
.control_input[type="radio"]:checked + .control_mark::before{
  position: absolute;
  top: 4.6px;
  left: 4.7px;
  width: 10px;
  height: 10px;
  background-color: #395467;
  border-radius: 50%;
  content: "";
}




/**********************Окно выбра цены*********************/
.range_sacle{
  position: relative;
  height: 4px;
  margin-top: 27px;
  margin-left: 10px;
  background-color: #857d7d;
}
.range_bar{
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}
.range_toggle{
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.range_toggle:hover{
  background-color: #b9b9b9;
}
.range_toggle:active,
.range_toggle:focus{
  outline: 3px solid #9fd4f8;
}
.range_toggle_min{
  top: -8px;
  left: -10px;
}
.range_toggle_max{
  top: -8px;
  right: -10px;
}
.range_wrapper_inputs{
  display: flex;
  justify-content: center;
  position: relative;
}
.catalog_filter_label{
  position: relative;
}
.range_input{
  padding: 14px 50px 11px 19px;
  border-radius: 4px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  border: 2px solid #FFFFFF;
  color: #ffffff;
  text-align: left;
}
.range_input::-webkit-outer-spin-button,
.range_input::-webkit-inner-spin-button{
  appearance: none;
  margin: 0;
}
.range_input_text{
  position: absolute;
  right: 12px;
  top: 37px;
  opacity: 0.3;
}
.catalog_filter_hotel{
  border: 0;
  padding: 0;
}
.range_input_min{
  border-radius: 4px 0px 0px 4px;
  margin-top: 23px;
}
.range_input_max{
  border-radius: 0px 4px 4px 0px;
  margin-top: 23px;
  border-left-style:none ;
}
/**********************Кнопка применить форму*********************/
.button_form{
  align-items: center;
  padding-top: 61px;
  border: none;
  display: flex;
  flex-direction: column;
}
.button_apply_form{
  background: #83b3d3;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  height: 48px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-family: "PT Sans", sans-serif;
}
.button_apply_form:hover,
.button_apply_form:focus{
  background-color: #9fd4f8;
}
/**********************Кнопка сбросить форму*********************/
.button_reset_form{
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  background: transparent;
  border: none;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
}
.button_reset_form:hover,
.button_reset_form:focus{
  color: #9ff1f8;
}
/**********************Названия гостиниц*********************/
.hotel_catalog{
  width: 1056px;
  margin-left: 70px;
  margin-right: 70px;
}
.hotel_card{
  width: 300px;
  padding: 20px;
}
.hotel{
  text-decoration: none;
}
.hotel_card_title{
  margin: 14px 0 20px 1px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-align: start;
}
.span_hotel .hotel_card_price{
  font-size: 18px;
  line-height: 23px;
}
.hotel_card_description_text{
  display: grid;
  grid-template-columns: 133px 133px;
  gap: 25px;
  margin-top: -4px;
}
.hotel_catalog_button{
  display: flex;
  justify-content: space-between;
}
.hotel_card_button_detail{

  width: 133px;
  border: none;
}
img.hotel_card_image{
  display: block;
}
/**********************Секция с сортровокой гостиниц по категориям*********************/
.sorting{
  display: flex;
  align-items: center;
  margin-left: 72px;
  margin-top: 44px;
  width: 100%;
}
.title_sorting{
  margin: 0;
  margin-right: 191px;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}
.select_list{
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  margin-right: 50px;
}
.select_control{
  padding: 8px 100px 14px 18px;
  margin-right: 83px;
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  appearance: none;
  background-image: url("../images/vector11x7.svg");
  background-repeat: no-repeat;
  background-position: center right 21px;
}
.select_control:hover,
.select_control:focus{
  color: #373a3a;
  border: 2px solid #1f0a0a;
}
.sorting_list{
  display: flex;
}
/**********************Список гостиниц*********************/
.hotel_card_list{
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 10px 18px;
  justify-content: center;
}
/**********************Сортировка списка карточек*********************/
.card_grid_toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  margin-right: 8px;
}
.card_grid_toggle_tile{
  background-image: url("../images/mode-list/mode-tile.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.card_grid_toggle_slideshow{
  background-image: url("../images/mode-list/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.card_grid_toggle_list{
  background-image: url("../images/mode-list/mode-list.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.card_grid_toggle:hover{
  border: 2px solid #000000;
}
.card_grid_toggle:last-child{
  margin-right: 0;
}

.hotel_card_description{
  display: grid;
  gap: 15px;
  text-align: start;
}


/**********************Кнопка подробнее*********************/
.hotel_card_button_detail.button{
  background: #756257;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
}
.hotel_card_button_detail:hover,
.hotel_card_button_detail:focus{
  background-color: #543e30;
}
/**********************Кнопка в избранное*********************/
button.button_select{
  background-color: #7db54f;
}
.hotel_card_button_select{
  background-color: #83b3d3;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
}
.hotel_card_button_select{
  width: 140px;
  border: none;
}
.hotel_card_button_select:hover,
.hotel_card_button_select:focus{
  background-color: #7db54f;
}
/**********************Переключение страниц 1,2,3,4 ...*********************/
.pagination_link.pagination_current{
  background: #f2f2f2;
  color: #000000;
}
.pagination{
  display: flex;
  padding: 0;
}
.pagination_item:not(:last-child){
  margin-right: 8px;
}
.pagination_link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  color: #f2f2f2;
  background: #83b3d3;
  text-decoration: none;
  border-radius: 4px;
}
.pagination_bar{
  width: 1056px;
  display: flex;
  justify-content: center;
}
.pagination_link:hover,
.pagination_link:focus{
  background-color: #9fd4f8;
}
/**********************Рейтинг госиниц*********************/
.stars_rating{
  background-repeat: no-repeat;
  background-position: 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stars_rating_amara{
  background-image: url("../images/vector-star.svg"),
  url("../images/vector-star.svg"),
  url("../images/vector-star.svg"),
  url("../images/vector-star.svg");
  background-position: 0  10px, 25px 10px, 50px 10px, 73px 10px;
  padding-left: 24px;
}
.stars_rating_desert{
  background-image: url("../images/vector-star.svg"),
  url("../images/vector-star.svg"),
  url("../images/vector-star.svg");
  background-position: 0  10px, 25px 10px, 50px 10px;
  padding-left: 24px;
}
.stars_rating_villas{
  background-image: url("../images/vector-star.svg"),
  url("../images/vector-star.svg");
  background-position: 0  10px, 25px 10px;
  padding-left: 24px;
}
.stars_rating_greentree{
  background-image: url("../images/vector-star.svg"),
  url("../images/vector-star.svg");
  background-position: 0  10px, 25px 10px;
  padding-left: 24px;
}
.stars_rating.star:last-child{
  margin-right: 0;
}
.star_score{
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  padding: 9px 0  10px;
  margin-left: auto;
  font-size: 16px;
  line-height: 21px;
  background: #f2f2f2;
  text-transform: uppercase;
  color: #333333;
  width: 160px;
}



/**********************Кнопка загрузить еще*********************/
.pagination_show_more_button{
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  width: 620px;
  padding: 17px 0;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  border: none;
  margin: 30px 0;
  cursor: pointer;
}
.pagination_show_more_button:hover,
.pagination_show_more_button:focus{
  background-color: #9fd4f8;
}
.pagination_show_more_button_decor{
  border: 1px solid #E6E6E6;
  border-right-style: none;
  border-left-style: none;
  margin-top: 29px;
  margin-bottom: 29px;
}
/**********************НАЧАЛО Блок с рассылкой на почту второй страницы *********************/
.distribution_inner{
  background: #FFFFFF;
  margin-top: 73px;
  margin-bottom: 140px;
}
.distribution_title_inner{
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 73px auto 46px;
}
.distribution_text_inner{
  display: inline-block;
  font-size: 22px;
  line-height: 26px;
  margin:0 auto 46px;
}
