@font-face{
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face{
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html{
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
  width: 1200px;
  padding: 0px 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.visually_hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


ul.description_list{
  margin-left: 0;
  padding-left: 0
}
ul.hotel_card_list{
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
ul.catalog_filter_list{
  list-style-type:none;
}
ul.pagination{
  list-style-type:none;
}
ul.socials_footer{
  list-style-type:none;
}

.shadow_page{
  background-color: #ffffff;
  background-size: 100% auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main_container{
  flex-grow: 1;
  width: 1200px;
  margin: 0;
}

.navigation{
 display: flex;
 width: 1060px;
 margin: 0 auto;
}

/**********************Навигация хеддера*********************/
.navigtion_list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type:none;
  align-items: center;
}
/**********************Навигация ЛОГО*********************/
.navigation_link_logo{
  margin-right: 30px;
}
/**********************Навигация первого списка хеддар*********************/
.navigation_main{
  width: 450px;
  text-align: start;
}
/**********************Навигация втрого списка хеддар*********************/
.navigation_user{
  width: 320px;
  margin-left: auto;
  text-align: start;
}
/**********************Заголовок страницы*********************/
.navigation_link{
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.navigtion_list .navigation_user{
  min-width: 18px;
  min-height: 18px;
}
/**********************Кнопка "Хочу сюда" в хеддере*********************/
.icon_button{
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px 15px;
  width: 160px;
  text-align: center;
  margin-left: 32px;
}

/**********************Бекграунд на Лого главного экрана*********************/
.welcome_to_sedona{
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
}
.logo_sedona{
  padding-top: 51px;
  padding-bottom: 82px;
}
/**********************Бекграунд на Лого главного экрана, белая  полоса внизу*********************/
.welcome_to_sedona_text{
  width: 1200px;
}
.sedona_description{
  text-transform: uppercase;
  padding-top: 63px;
  padding-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  width: 720px;
  margin: auto;
}
.sedona_description_text{
  padding-bottom: 80px;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
  width: 720px;
  margin: auto;
}

.description_list{
  display: flex;
  flex-wrap: wrap;
}

/**********************Выбор гостиниц*********************/
.description_item_head{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
.description_item{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description_item_text{
  width: 250px;
  margin-left: 75px;
  margin-right: 75px;
  padding-top: 0;
}
.color_iversion{
  color: #ffffff;
  background-color: #83b3d3;
  display: flex;
  width: 1200px;
  height: 384px;
}
.color_iversion_head{
  color: #ffffff;
  margin-top: 97px;
  margin-bottom: 30px;
}
.color_iversion_item_text_number{
  margin-bottom: 30px;
}
.color_iversion_item_text{
  margin-bottom: 87px;
}
/**********************Блок с поиском гостницы*********************/
.finde_hostle_title{
  font: size 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.finde_hostle_text{
  font-size: 22px;
  line-height: 26px;
}
.button_finde_hostle{
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background: #756257;
}

/********************** Блок с рассылкой на почту *********************/
.distribution{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 411px;

}

.distribution_title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 94px;
  margin-bottom: 30px;
}
.distribution_text{
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 46px;
}

/**********************Кнопка Подписаться внизу страницы*********************/
.distribution_form_input{
  background: #f2f2f2;
  margin-bottom: 94px;
}
.distribution_form_buttons{
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83b3d3;
}

/**********************Footer*********************/
.page_footer{
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}
.socials_footer{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials_footer_icon:last-child{
  padding: 0;
  margin-right: 0;
}
.socials_footer_icon{
  margin-right: 30px;
  width: 20px;
  height: 20px;
}
.footer_logo{
  margin-right: 72px;
}
ul.socials_footer{
  padding: 0;
  text-align: start;
}
/**********************Номер телефона*********************/
.phone_number{
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 30px;
}

/**********************Каталог, вторая страница*********************/
.catalog_hotel{
  background-image: url("../images/catalog-background-1.jpg");
  background-repeat: no-repeat;
  height: 408px;
  color: #ffffff;
}

/**********************Гостиницы Седоны h1*********************/
.inner_header_title{
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
  width: 530px;
  margin-left: 71px;
  margin-top: 35px;
  margin-bottom: 0;
}
.breadcrumbs_item_hotel{
  margin-left: 10px;
}
.breadcrumbs_item{
  font-size: 16px;
  line-height: 21px;
  margin-left: 72px;
  text-align: start;
}
/**********************Форма поиска по каталогу*********************/
.catalog_find{
  display: flex;
}
.catalog_title{
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}
.calatlig_filter_item{
  font-size: 18px;
  line-height: 23px;
  text-align: start;
}

.button_form{
  display: flex;
  flex-direction: column;

}
/**********************Кнопка применить форму*********************/
.button_apply_form{
  background: #83b3d3;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
}

/**********************Кнопка сбросить форму*********************/
.button_reset_form{
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  background: transparent;
  border: none;
}
/**********************Названия гостиниц*********************/
.hotel_catalog{
  width: 1056px;
  margin-left: 70px;
  margin-right: 70px;
}

.hotel_card{
  width: 340px;
}
.hotel_card_title{
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}
.span_hotel .hotel_card_price{
  font-size: 18px;
  line-height: 23px;
}

.checkbox .radio .range{
  font-size: 18px;
  line-height: 23px;
}

/**********************Секция с сортровокой гостиниц по критериям*********************/
.sorting{
  display:flex;
  align-items: center;
  width: 1057px;
  margin: 44px 72px 53px;
}
.title_sorting{
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  width: 400px;
  margin-right: 192px;
}

.select_list{
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  margin-right: 50px;


}
.select_control{
  width: 160px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-right: 81px;
  margin-top: 3px;
  margin-bottom: 3px;

}

.hotel_card_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.sorting_list{
  display: flex;
}
.sorting_list .button{
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.sorting_list .button:last-child{
  margin-right: 0;
}

.hotel_card_description{
  display: flex;
  flex-direction: column;
}

/**********************Значок дома (ссылка на главную страницу)*********************/
.home_page{
  text-decoration: none;
  height: 12px;
  width: 12px;
}
/**********************Кнопка подробнее*********************/
.hotel_card_button_detail.button{
  background: #756257;
  border-radius: 4px;
  padding: 9px 15px 10px 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

/**********************Кнопка в избранное*********************/
.hotel_card_button_select.button{
  background: #83b3d3;
  border-radius: 4px;
  padding: 9px 15px 10px 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

/**********************Страницы с гостиницами*********************/
.pagination{
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination_item:not(:last-child){
  margin-right: 8px;
}
.pagination_link{
  display: block;
  width: 55px;
  height: 55px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  color: #f2f2f2;
  background: #83b3d3;
  box-sizing: border-box;
  text-decoration: none;
}
.pagination_bar{
  width: 1056px;
  display: flex;
  justify-content: space-between;
}

/**********************Рейтинг госиниц*********************/
.star_score{
  font-size: 16px;
  line-height: 21px;
  background: #f2f2f2;
}

/**********************Переключение страниц 1,2,3,4 ...*********************/
.pagination_link.pagination_current{
  background: #f2f2f2;
  color: #000000;
}

/**********************Кнопка загрузить еще*********************/
.pagination_show_more_button{
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 26px;
  width: 620px;
  padding: 30px 0;
  margin-top: 30px;
  margin-bottom: 30px;
  border: #000000 solid 1px;
  border-right-style: none;
  border-left-style: none;
  color: #ffffff;
  background-color: #83b3d3;
}

/**********************НАЧАЛО Блок с рассылкой на почту второй страницы *********************/
.distribution_inner{
  background: #FFFFFF;
  margin-top: 73px;
  margin-bottom:140px;
}
.distribution_title_inner{
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 46px;
}
.distribution_text_inner {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 46px;
}
